* {
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #f8f8f8;
}
header {
    background-color: #fff;
}
header::after {
    content: '';
    display: block;
    clear: both;
}
header h1 {
    padding: 15px 25px;
    display: inline-block;
    float: left;
}
header ul {
    float: left;
}
header ul li {
    padding: 24px 25px;
    display: inline-block;
}
a {
    text-decoration: none;
}
.box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    size: 100px;
    margin-bottom: 20px;
}
.content {
    width: 93%;
    padding: 10px;
    box-sizing: border-box;
    margin: 50px auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;

}
.table tr {
    height: 30px;
}
.table tr td {
    padding: 5px 10px;
}
.table tr td:nth-child(1){
    text-align: center;
}
.table-data {
    width: 100%;
    margin-top: 10px;
}
.table-data tr {
    height: 30px;
}
.table-data tr td:nth-child(1){
    width: 30%;
}

input{
    width: 40%;
    height: 5%;
    border: 1px;
    border-radius: 05px;
    padding: 8px 15px 8px 15px;
    margin: 10px 0px 15px 0px;
    box-shadow: 1px 1px 2px 1px grey;
}

.btn-update{
    border: none;
    outline: none;
    height: 40px;
    background-color: #1c8adb;
    font-size: 18px;
    border-radius: 20px;
}

.btn-update:hover{
    cursor: pointer;
    background-color: #e33d56;
    color: #fff;
}

.btn-input{
    border: none;
    outline: none;
    height: 40px;
    background-color: #1c8adb;
    font-size: 18px;
    border-radius: 20px;
}

.btn-input:hover{
    cursor: pointer;
    background-color: #e33d56;
    color: #fff;
}
