*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    margin-bottom: 0px;
    padding: 0px;
    background: url(surveyor1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px;
    transform: translate(-50%, -50%);
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin-top: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p{
    margin-bottom: 0px;
    padding: 0px;
    font-weight: bold;
}

.login-box input{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 150px;
    color: #fff;
    font-size: 16px;
}

.button{
    border: none;
    outline: none;
    height: 40px;
    background-color: #1c8adb;
    font-size: 18px;
    border-radius: 20px;
}

.button:hover{
    cursor: pointer;
    background-color: #e33d56;
    color: #fff;
}